column li::before {
    content: '•';
    position: absolute;
    left: 0;
}

:root{
    --background--color:#000;
    --primary-text:#FFF;
    --secondary-text:#ABABAB;
    --border-color:#383838;
    --border-properties:1px solid var(--border-color);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: var(--background--color);
    color: var(--primary-text);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

header {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    flex-wrap: nowrap;
    letter-spacing: calc(98%);
    padding-bottom: 4rem;
    gap: -3rem;
}

.subheader {
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: var(--secondary-text);
}

.nav-link {
    -ms-flex-item-align: end;
    color: var(--primary-text);
    text-decoration: none;
    line-height: 130%;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    row-gap: 10fr;
}

.sidebar {
    border-top: var(--border-properties);
    border-bottom: var(--border-properties);
    padding-top: 32px;
}

.bio {
    padding-bottom: 36px;
    line-height: 140%;
    letter-spacing: 99%;
    font-size: 14px;
    line-height: 1.6;
    border-bottom: var(--border-properties);
}

.experience-section {
    padding-bottom: 36px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
    border-bottom: var(--border-properties);
}

.contact-link::after {
    content: '→';
    font-size: 16px;
}



.section {
    margin-bottom: 64px;
}

.section-title {
    border-top: 1px  solid #383838;
    padding-top: 32px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
}


.job-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}

.job-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.job-description li {
    font-size: 14px;
    line-height: 1.6;
    list-style: none;
    padding-left: 20px;
    position: relative;
}

.job-description li::before {
    content: '•';
    position: absolute;
    left: 0;
}

.certification {
    font-size: 14px;
    margin-bottom: 16px;
}

.certification::after {
    content: '→';
    margin-left: 8px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
}

.skills-column ul {
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skills-column-title{
    color: #ababab;

}

.skills-column li {
    font-size: 14px;
    position: relative;
}

.skills-n-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.education-item {
    font-size: 14px;
}

.recommendation {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 24px;
}

footer {
    margin-top: 120px;
    padding-top: 48px;
    border-top: var(--border-properties);
}

.footer-title {
    font-size: 24px;
    font-weight: 600;
}



@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .skills-grid,
    .education-grid {
        grid-template-columns: 1fr;
    }
}