
column li::before {
    content: '•';
    position: absolute;
    left: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.subheader {
    font-size: 24px;
    font-weight: 600;
    color: #ababab;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.main-content {
    display: grid;
    grid-template-columns: 368px 1fr;
    gap: 64px;
}

.sidebar {
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
    padding-top: 32px;
}

.bio {
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 1.6;
    border-bottom: 1px solid #383838;
}

.experience-section {
    padding-bottom: 36px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
    border-bottom: 1px solid #383838;
}

.contact-link::after {
    content: '→';
    font-size: 16px;
}

.divider {
    height: 1px;
    background-color: #383838;
    margin: 48px 0;
}

.section {
    margin-bottom: 64px;
}

.section-title {
    border-top: 1px  solid #383838;
    padding-top: 32px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
}


.job-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}

.job-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.job-description li {
    font-size: 14px;
    line-height: 1.6;
    list-style: none;
    padding-left: 20px;
    position: relative;
}

.job-description li::before {
    content: '•';
    position: absolute;
    left: 0;
}

.certification {
    font-size: 14px;
    margin-bottom: 16px;
}

.certification::after {
    content: '→';
    margin-left: 8px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
}

.skills-column ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skills-column-title{
    color: #ababab;

}

.skills-column li {
    font-size: 14px;
    padding-left: 20px;
    position: relative;
}

.skills-n-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.education-item {
    font-size: 14px;
}

.recommendation {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 24px;
}

footer {
    margin-top: 120px;
    padding-top: 48px;
    border-top: 1px solid #383838;
}

.footer-title {
    font-size: 24px;
    font-weight: 600;
}



@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .skills-grid,
    .education-grid {
        grid-template-columns: 1fr;
    }
}